footer {
  bottom: 0;
  color: rgba(241, 105, 8, 0.733);
  font-size: smaller;
  position: absolute;
  width: 100%;
}

footer:hover {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(241, 105, 8);
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 111, 8);
}
