@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: rgb(245, 232, 199);
  font-family: "Lexend Tera", sans-serif;
  max-width: 100%;
  margin: 0;
}

#frame {
  align-items: center;
  background: rgb(222, 186, 157);
  border: 10px solid rgba(0, 0, 0, 0.644);
  border-radius: 50%;
  box-shadow: inset 1px 1px 13px 7px rgba(158, 119, 119, 0.781);
  color: rgb(111, 76, 91);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.city {
  margin: 0;
  text-transform: uppercase;
}

.temperature {
  font-size: 22px;
  font-weight: bolder;
}

.weatherDescription {
  font-size: 11px;
  font-weight: 200;
  text-transform: capitalize;
}

.search {
  background: rgb(222, 186, 157);
  border: 1px solid rgba(158, 119, 119, 0.781);
  border-radius: 50px;
  color: rgb(111, 76, 91);
  font-family: "Lexend Tera", sans-serif;
  font-size: 11px;
  font-weight: 200;
  padding: 4px 2px;
  text-align: center;
  transition: 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

::placeholder {
  color: rgb(111, 76, 91);
}

.search:hover {
  background: rgb(245, 232, 199);
  border: rgb(111, 76, 91);
  color: rgb(111, 76, 91);
  cursor: pointer;
}
