@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: rgb(245, 232, 199);
  font-family: "Lexend Tera", sans-serif;
  max-width: 100%;
  margin: 0;
}
