.Footer {
  bottom: 0;
  color: rgb(111, 76, 91);
  font-size: 11px;
  font-weight: 100;
  height: 32px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.Footer:hover {
  color: rgb(222, 186, 157);
  font-size: 15px;
  font-weight: 300;
}

.my-name {
  color: rgb(111, 76, 91);
  text-decoration: none;
  transition: 200ms ease-in-out;
}
