a.back-to-weather {
  text-decoration: none;
  color: rgb(111, 76, 91);
  transition: all 200ms ease-in-out;
}

span.back-to-weather {
  font-size: 20px;
  padding-bottom: 100px;
}

span.back-to-weather:hover {
  opacity: 0.7;
}

.forecast-show-data {
  display: flex;
  grid-gap: 15px;
}
