.forecast-week {
  font-size: 16px;
  margin: 0 0 4px;
  text-transform: capitalize;
}

.forecast-max-temp {
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
}

.forecast-min-temp {
  font-size: 15px;
  font-weight: 300;
  margin-left: 5px;
  opacity: 0.8;
}

.forecast-description {
  font-size: 11px;
  font-weight: 200;
  text-transform: capitalize;
}
