.Search {
  background: rgb(222, 186, 157);
  border: 1px solid rgba(158, 119, 119, 0.781);
  border-radius: 50px;
  color: rgb(111, 76, 91);
  font-family: "Lexend Tera", sans-serif;
  font-size: 11px;
  font-weight: 200;
  padding: 4px 2px;
  text-align: center;
  transition: 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

::placeholder {
  color: rgb(111, 76, 91);
}

.Search:hover {
  background: rgb(245, 232, 199);
  border: rgb(111, 76, 91);
  color: rgb(111, 76, 91);
  cursor: pointer;
}
